

.doneTask {
    text-decoration: line-through;
    text-decoration-color: red;
}
i {
    cursor: pointer;
}
h1 {
    color: antiquewhite;
    font-family: cursive;
}
input {
    color: antiquewhite;
    font-family: cursive;
}
button {
    color: antiquewhite;
    font-family: cursive;
}
ul {
        font-family: cursive;
}